@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100%;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-gradient {
  background: linear-gradient(to right, #FFA500, #FF4500);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 3s ease-in-out;
}

.grid-overlay {
  background: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)), /* White to black gradient */
    linear-gradient(
      rgba(255, 255, 255, 0.1) 1px, 
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    );
  background-size: 100% 100%, 20px 20px, 20px 20px; /* Adjust grid size and gradient coverage */
  background-position: 0 0, 0 0, 0 0;
  z-index: 0;
  height: 100%;
  pointer-events: none; /* Ensure it doesn’t interfere with other elements */
}

.icon {
  width: 1.3rem; /* Adjust size here */
  height: 1.3rem; /* Adjust size here */
}

